<app-header titulo="Listado"></app-header>

<ion-content>

<!--  <ion-accordion-group>-->

<!--    <ion-accordion [value]="parte.id" *ngFor="let parte of parteDiario">-->
<!--      <ion-item slot="header">-->
<!--        <ion-label color="tertiary">{{"Fecha: " + parte.fecha + " - " + parte.TotalHoras + " Horas" }}</ion-label>-->
<!--      </ion-item>-->

<!--      <ion-list slot="content">-->
<!--        <ion-item>-->
<!--          <ion-label color="danger">{{'Hora de entrada: ' + parte.HoraEntrada}}</ion-label>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label color="danger">{{'Hora de salida: ' + parte.HoraSalida}}</ion-label>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label color="danger">{{'Total horas: ' + parte.TotalHoras}}</ion-label>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label color="danger">Almorzar: {{parte.almuerzo === '0' ? 'No' : 'Si'}}</ion-label>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label color="danger">Comida: {{parte.comida === '0' ? 'No' : 'Si'}}</ion-label>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--          <ion-label color="danger">Merienda: {{parte.merienda === '0' ? 'No' : 'Si'}}</ion-label>-->
<!--        </ion-item>-->
<!--      </ion-list>-->
<!--    </ion-accordion>-->
<!--  </ion-accordion-group>-->

  <ion-grid>
    <ion-row class="table">
      <ion-col size="1">
        #
      </ion-col>
      <ion-col size="3">
        Fecha
      </ion-col>
      <ion-col size="2">
        H/E
      </ion-col>
      <ion-col size="2">
        H/S
      </ion-col>
      <ion-col size="2">
        T/H
      </ion-col>
      <ion-col size="2">
        Editar
      </ion-col>
    </ion-row>
    <ion-row class="table" *ngFor = "let parte of parteDiario ; index as i">
      <ion-col size="1">
        <small>{{i+1}}</small>
      </ion-col>
      <ion-col size="3" >
        <small>{{parte.fecha}}</small>
      </ion-col>
      <ion-col size="2">
        <small>{{parte.HoraEntrada}}</small>
      </ion-col>
      <ion-col size="2">
        <small>{{parte.HoraSalida}}</small>
      </ion-col>
      <ion-col size="2">
        <small>{{parte.TotalHoras}}</small>
      </ion-col>
      <ion-col size="2">
        <ion-button color="tertiary" size="small" (click)="editar(parte.id)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
