<app-header titulo="Listado"></app-header>

<ion-content>
  <ion-item>
    <ion-title class="ion-text-center"><strong>HORAS DEL MES {{meses[mes]}}</strong></ion-title>
  </ion-item>
  <ion-grid>
    <ion-row class="table ion-text-center ion-align-items-center">
      <ion-col size="1">
        <small><strong>#</strong></small>
      </ion-col>
      <ion-col size="3">
        <small><strong>Fecha</strong></small>
      </ion-col>
      <ion-col size="2">
        <small><strong>H/E</strong></small>
      </ion-col>
      <ion-col size="2">
        <small><strong>H/S</strong></small>
      </ion-col>
      <ion-col size="2">
        <small><strong>T/H</strong></small>
      </ion-col>
      <ion-col size="2">
        <small><strong>Editar</strong></small>
      </ion-col>
    </ion-row>
    <ion-row class="table ion-text-center ion-align-items-center" *ngFor = "let parte of parteDiario ; index as i">
      <ion-col size="1">
        <small>{{i+1}}</small>
      </ion-col>
      <ion-col size="3" >
        <small>{{parte.fecha}}</small>
      </ion-col>
      <ion-col size="2">
        <small>{{parte.HoraEntrada}}</small>
      </ion-col>
      <ion-col size="2">
        <small>{{parte.HoraSalida}}</small>
      </ion-col>
      <ion-col size="2">
        <small>{{parte.TotalHoras}}</small>
      </ion-col>
      <ion-col size="2">
        <ion-button color="tertiary" size="small" (click)="editar(parte.id)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
