<div>

  <ion-grid>
    <!-- Inicio fila 1 -->
    <ion-row class="ion-justify-content-center , jon-icon, ion-text-center">

      <!-- Inicio boton HOME -->
      <ion-card class="jon-size , ion-color-primary"
                routerLink="/">
        <ion-card-header>
          <ion-icon name="home-outline" color="tertiary" style="zoom:3"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title color="tertiary">
            <h2><strong>Home</strong></h2>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <!-- Fin boton HOME-->

      <!-- Inicio boton PARTE-->
      <ion-card class="jon-size"
                routerLink="/parte">
        <ion-card-header>
          <ion-icon name="add-circle-outline" color="tertiary" style="zoom:3"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title color="tertiary">
            <h2><strong>Parte</strong></h2>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <!-- Fin boton PARTE-->

      <!-- Inicio boton LISTADO -->
      <ion-card class="jon-size"
                routerLink="/listado">
        <ion-card-header>
          <ion-icon name="list-outline" color="tertiary" style="zoom:3"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title color="tertiary">
            <h2><strong>Listado</strong></h2>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <!-- Fin boton LISTADO -->
    </ion-row><!-- fin fila 1-->
  </ion-grid>
</div>

